{% extends 'base.html.twig' %}

{% block title %}Hello AuthorController!{% endblock %}

{% block body %}
  <style>
    .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px/1.5 sans-serif;
    }
    .example-wrapper code {
      background: #F5F5F5;
      padding: 2px 6px;
    }
  </style>

  <div class="example-wrapper">
  <h2>List authors</h2>
  {% if authors is empty%}
    <div class="alert alert-danger">
    No Authors
  </div>
{% endif %}
<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Books</th>
  </tr>
  {% for a in authors %}
    <tr>
      <td>{{a.id}}</td>
      <td>{{a.name}}</td>
      <td>{{a.email}}</td>
      <td>
        <ul>
        {% for b in a.books %}
        <li> {{b.title}}</li>
          {% endfor %}
        </ul>
      <td>
          <a class="btn btn-outline-primary" href="{{path('app_author_update',{id:a.id})}}">
          Update</a>
      </td>
      <td>
        <a class="btn btn-outline-danger" href="{{path('app_author_delete',{id:a.id})}}">Remove</a>
      </td>

    </tr>
  {% endfor %}
</table>
<a class="btn btn-outline-success" href="{{path('app_author_add')}}">Add Author</a>
  </div>
  <h1>List authors ordred by Name</h1>
  <table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Books</th>
  </tr>
  {% for a in authorsOrdred %}
    <tr>
      <td>{{a.id}}</td>
      <td>{{a.name}}</td>
      <td>{{a.email}}</td>
      <td>
        <ul>
            {% for b in a.books %}
            <li>
              {{b.title}}</li>
        {% endfor %}
        </ul>
          <td>
        <a class="btn btn-outline-primary" href="{{path('app_author_update',{id:a.id})}}">
              Update</a>
        </td>
        <td>
          <a class="btn btn-outline-danger" href="{{path('app_author_delete',{id:a.id})}}">Remove</a>
        </td>

        </tr>
    {% endfor %}
  </table>
 {% endblock %}
